<!-- <h1 id="hii">hello</h1> -->

<!-- <div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row"> -->
<!-- <app-main class="col-sm-12"></app-main> -->
<!-- <app-products-list></app-products-list>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->

<!-- ass1 -->
<!-- <div class="container-fluid">
  <app-header></app-header>

  <div class="container">
    <div class="row mt-5">
      <app-sidemenu class="col-3"></app-sidemenu>
      <app-products class="col-9"></app-products>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->
<!-- ass2 & ass3 -->
<!-- <div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <app-products></app-products>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->

<!-- lec4 -->
<!-- <div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row"> -->
<!-- <app-products-parent></app-products-parent> -->
<!-- <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->

<!-- ass4 -->
<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <!-- <app-products></app-products> -->
      <!-- <app-product-parent></app-product-parent> -->
      <router-outlet></router-outlet>
      <!-- {{ title }} -->
      <!-- <span>econnerce-project app is running!</span> -->
    </div>
  </div>
  <app-footer></app-footer>
</div>
